@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("cesium/Build/Cesium/Widgets/widgets.css");

#cesiumContainer {
    width: 100%;
    height: 100vh; /* viewport height */
}

.cesium-widget-credits {
    display: none !important;
}

.w-15 {
    width: 15vw;
}

.w-20 {
    width: 20vw;
}

.w-30 {
    width: 30vw;
}

.w-40 {
    width: 40vw;
}


.h-15 {
    height: 15vh;
}

.h-20 {
    height: 20vh;
}

.h-25 {
    height: 25vh;
}

.h-30 {
    height: 30vh;
}

.mt-25 {
    margin-top: 25vh;
}

.mt-30 {
    margin-top: 30vh;
}


.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2025 !important;
}

.fixed-right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2025 !important;
}
